<!doctype html>
<html lang="en" xmlns:th="https://www.thymeLeaf.com">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Book Store</title>
</head>
<body>
<h1>Welcome to Book Store</h1>

<nav class="navbar navbar-expand-lg navbar-success bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Book_Store</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="available_books">Available Books</a>
                </li>
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="maze_book">My Books</a>-->
<!--                </li>-->


                <li class="nav-item">
                    <a class="nav-link" href="my_books">My Books </a>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        More Content
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">page 1</a></li>
                        <li><a class="dropdown-item" href="#">Page 2</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>

            </ul>
            <div>
                <a class="nav-link" href="book_register">New Book Register</a>
            </div>
        </div>
    </div>
</nav>

<div class="container text-center my-5">
    <h1>WELCOME TO NEW BOOK STORE</h1>
    <h6>4-01-16T13:18:49.431+05:30  INFO 4272 --- [  restartedMain] o.s.b.d.a.OptionalLiveReloadServer       : LiveReload server is running on port 35729
        2024-01-16T13:18:49.470+05:30  INFO 4272 --- [  restartedMain] o.s.b.w.embedded.tomcat.TomcatWebServer  : Tomcat started on port 8080 (http) with context path ''
        2024-01-16T13:18:49.483+05:30  INFO 4272 --- [  restartedMain] c.b.bookstore1.BookstoreApplication      : Started BookstoreApplication in 4.697 seconds (process running for 5.479)
        2024-01-16T13:18:55.719+05:30  INFO 4272 --- [nio-8080-exec-1] o.a.c.c.C.[Tomcat].[localhost].[/]       : Initializing Spring DispatcherServlet 'dispatcherServlet'
        2024-01-16T13:18:55.720+05:30  INFO 4272 --- [nio-8080-exec-1] o.s.web.servlet.DispatcherServlet        : Initializing Servlet 'dispatcherServlet'
        2024-01-16T13:18:55.722+0</h6>
    <img src="/static/images/IMG_20221125_123934.jpg" width="360px">


</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>